<div class="container">
    <div style="margin-top:75px;" > 
    <!-- ouverture du formulaire de depot de materiel -->
    {{ form_start(dmform) }} 
        <div class="row">
            <div class="col-6">  {{ form_row(dmform.statut) }}</div>
            <div class="col-6">{{ form_widget(dmform.dateDossier) }}</div>
        </div>
         <div class="row">
            <div class="col-6">{{ form_row(dmform.estimation) }}</div>
            <div class="col-6">{{ form_row(dmform.devis) }}</div>
         </div> 
        <div class="row">
            <div class="col-12">
                {{ form_row(dmform.commentaire) }}
            </div>
        </div>         
     <!-- fermeture du formulaire -->
    {{ form_end(dmform) }}
    </div>
</div>