<div class="container bg-white" style="border-radius: 50px" >   
            <div class="row">
                <div class="col-md-1 col-xs-12 col-sm-6 col-lg-1"></div>
                <div class="col-md-10 col-xs-12 col-sm-6 col-lg-10">
                    <div class="container" >
                        <h2>Produit</h2>
                    </div>
                    <table class="table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Marque</th>
								<th>Model</th>
								<th>Compte</th>
								<th>Mot de passe</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td> {{materiel.type}}</td>
								<td> {{materiel.marque}}</td>
								<td> {{materiel.model}}</td>
								<td> {{materiel.compte}}</td>
								<td> {{materiel.mdp}}</td>
							</tr>
						</tbody>
					</table>
                </div> 
                <div class="col-md-1 col-xs-12 col-sm-6 col-lg-1">
					<div class="container">
                        <div class="row">
							<a class="display-4" href="{{ path('editmaterielbydossier', {'id' : client.id ,'idmateriel' : materiel.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
                        </div>
                    </div>   
				</div>  
            </div>
        </div>