{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1>Dossier n°{{ dossier.num }} - Crée par : {{ dossier.employe.nom }} {{dossier.employe.prenom}} </h1>
	{# {{ dump(dossier) }}
	{{	dump(pannes) }} #}
		{{ include ('admin/dossiers/statutdossier.html.twig', {dossier} )}}
		<br>
		{# --- fiche client --- #}
	   	{{ include ('admin/client/ficheclient.html.twig', {dossier} )}}
		<br>
		{# --- fiche materiel --- #}
		{{ include ('admin/materiel/fichemateriel.html.twig', {dossier} )}}	
		<br>
		{# --- Panne ---#}
		{{ include ('admin/panne/fichepanne.html.twig', {pannes} )}}	
		<br>
		{# --- Paiement --- #}
		{{ include ('admin/dossiers/infodossier.html.twig', {dossier} )}}
{% endblock %}
